@font-face {
    font-family: 'Norse';
    src: url('typeface/fonts/Norse-Bold.woff2') format('woff2'),
        url('typeface/fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: rgb(24, 23, 23);
}

main {
    display: flex;
    background-color: rgb(251, 249, 249);
}

.left-side {
    background-image: url("/images/halie-west-25xggax4bSA-unsplash.jpg");
}